
/* TEMPLATE CSS
=================================================*/

/* SQS GRID 
---------------------------------------------------

  - @sqsGridNegateGutter: because the spacing between 
    columns (the gutter) is split to either side of 
    columns, the outer most columns of a grid will 
    end up offset from the grid's parent container. 
    To negate this outer padding, @sqsGridNegateGutter 
    should be set to true.

  - @sqsGridGutter: the spacing in between columns, 
    set in pixel, em or percentages.

  -----------------------------------------------*/

@sqsGridNegateGutter: true;
@sqsGridGutter: 20px;

@proximaCondensed: "proxima-nova-condensed", Verdana, Arial, sans-serif;
@proxima: "proxima-nova", Verdana, Arial, sans-serif;
@tisa: "ff-tisa-web-pro", Georgia, serif;

@coral: #f08789;
@coralDark: #d9867c;
@black: #262222;
@grey: #696666;
@white: #ebebeb;
@lightGrey: #f0f0f0;


/* MOBILE FIRST
-------------------------------------------------*/

body {
  color: @black;
	border-top: 10px solid @coral;
  font-family: @proxima;
  font-size: 16px;
  line-height: 1.5;
}

h1,h2 {
  font-family: @proxima;
}

.inner {
  max-width: 960px;
  padding: 0 10px;
  margin: auto;
  clear: both;
  position: relative;
}

#header {
  border-bottom: 1px solid @lightGrey;
  font-family: @proximaCondensed;  
  h1 {
    margin: 40px auto;
    text-transform: uppercase;
    a {
      margin: auto;
      text-decoration: none;
      display: block;
      background: url(/assets/sprites@2x.png);
      background-size: 500px 500px;
      width: 240px;
      height: 22px;
      text-indent: -9999px;
    }
  }
  
}

#main-navigation {
  
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  
  a {
    text-decoration: none;
  }
  
  .folder-child {
    display: none;
  }

  .folder-parent {
    &:hover .folder-child {
      display: inline-block;
    }
  }

  ul {  
    padding-left: 0;
    
    li {
      display: inline-block;
      letter-spacing: 1px;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &.active-link > a {
        color: @coral;
      }

      &.active-folder .folder-parent > a {
        color: orange;
      }
    }
  }
}

a {
  color: @black;
}

#body {
  
  clear: both;
  position: relative;
  padding: 0;
  margin: auto;
    
  #content {
    
    padding: 30px 20px;
    
    .sqs-layout {
      font-family: @tisa;
      font-size: 16px;
    }
    
    .sqs-block-content {
      text-align: justify;
      p, ol, ul, blockquote {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 26px;
      }
    }
    
    article {

      border-bottom: 1px solid @lightGrey;
      padding-bottom: 70px;
      margin-bottom: 84px;
    }
    
    h1, h1.title {
      font-size: 24px;
      line-height: 1.2;
      margin: 0 0 24px 0;
      text-transform: uppercase;
      font-weight: normal;      
      color: @coral;      
      a {
        text-decoration: none;
        color: @coral;
      }
    }
    h2 {
      font-size: 24px;

    }
    
    h3 {
      font-size: 20px;
      font-family: @tisa;
    }
    
    h4, h5 {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    h5 {
      
      font-weight: normal;
    }
    
    h1.title {
      margin-bottom: 6px;
    }
    .date {
      font-size: 16px;
      margin: 0 0 24px 0;
      text-transform: uppercase;
      color: @grey;
    }
    
    
    .blog-post-footer {
      margin-top: 10px;
      color: @grey;
    }
    
  }
  
  #sidebar {  
    font-family: @proxima;
    background: @lightGrey;
    padding: 20px;

    > div {
      max-width: 460px;
      margin: auto;
    }    

    h1,h2,h3 {
      font-family: @proximaCondensed;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 18px;
      a {
        text-decoration: none;
      }
      i, em {
        text-transform: none;
        font-size: 14px;
        line-height: 18px;
        color: @grey;
        margin: 1px 0 0 5px;
        display: inline-block;
        font-family: @tisa;
        vertical-align: top;
      }
      
    }
    .sqs-block-content p {
      color: @grey;
      font-size: 14px;
      line-height: 1.5;
    }
    
    #blockElsewhere {
    
      ul {
        list-style-type: none;
        padding: 0;
        margin-left: 0;
        li {
          margin-bottom: 5px;
        }
        a {
          text-decoration: none;
          background: @coral;
          display: block;
          padding: 6px 10px;
          font-size: 14px;
          line-height: 14px;
        }
        a:hover {
          background: @coralDark;
        }
      }
      
    }
    
  }
  
}

#footer {
  float: left;
  width: 100%;
  clear: both;
  background: @black;
  color: @white;
  
  .inner {
    padding: 0;
  }
  
  > div {
  
  
    ul {
      
      list-style-type: none;
      padding: 0;
      margin: 0;
      border-top: 1px solid rgba(255,255,255,.1);
      li {
      
        border-bottom: 1px solid rgba(255,255,255,.1);

        a {
          text-decoration: none;
          display: block;
          padding: 10px 20px;
          font-size: 18px;
        }
      
      }
            
    }
    #footer-social { 
      display: none;
    }
    
  
  }
  
  a {
    color: @white;
  }
  
}


/* HOMEPAGE
-----------------------------------------------*/

.homepage { }


/* BLOG COLLECTION
-----------------------------------------------*/

.collection-type-blog {

  /* BOTH PAGES 
  ---------------------------------------------*/

  /* LIST PAGE
  ---------------------------------------------*/

  &.view-list { }

  /* ITEM PAGE
  ---------------------------------------------*/  

  &.view-item { }
  
}


/* BREAK GRID AND STACK BLOCKS ON SMALL SCREENS 
-----------------------------------------------*/

@media screen and ( max-width: 48em ) {

  .row .col {
    width: 100%;
    float: none;
  }

}


/* BEYOND MOBILE
-----------------------------------------------*/
@media screen and ( min-width: 480px ) {


  #body {
      
    #sidebar {
      
      float: left;
      clear: both;
      
      > div {
        width: 220px;
        float: left;
        padding: 10px;
      }
  
    }
  
  }

}


@media screen and ( min-width: 768px ) {

  #header {
  
    float: left;
    width: 100%;
    
    .inner {
      width: 700px;
    }
  
    h1 {
      margin: 54px 0;
      width: 300px;
      float: left;
      clear: left;
      a {
        margin: 0;
      }
    }

    #main-navigation {
      float: left;
      width: 300px;
      clear: right;
      ul {
        margin: 54px 0;
      }
    }
  
  }

  #body {
    
    #content {
    
      width: 720px;
      margin: auto;
      padding: 50px 10px;
      clear: both;
      
      .sqs-block-content {
        text-align: left;
        p, ol, ul, blockquote {
          font-size: 20px;
          line-height: 1.6;
          margin-bottom: 32px;
        }
      }
      
    }
      
    #sidebar {
      width: 100%; 
      clear: both;
      
      > div {
        min-width: 220px;
        float: left;
        padding: 10px;
      }
      
      #blockInstagram, 
      #blockYouTube,
      #blockElsewhere {
        display: block;
      }
    
    }
  
  }
  
  #footer {
  
    .inner {
      width: 700px;
      padding: 30px 10px; 
      margin: auto;
      font-size: 14px; 
      
      > div {
    
        width: 140px;
        margin-right: 20px;
        float: left;
        ul {
          border: 0;
          li {
            border: 0;
            a {
              font-size: 14px; 
              padding: 0;
            }
          }
        }
      }
    
      #back-to-top {
        position: absolute;
        top: 0;
        right: 0;
        a {
          text-decoration: none;
        }
      }
      
      #copyright {
        clear: both;
        width: 100%;
        font-size: 12px;
      }
    
      #footer-social {
        display: block;
        ul {
      
          li {
            border: 0;
            a {
              color: #fff;
              background: transparent;
            }
        
          }
      
        }    
      }
  
      
      
    }
  

  }

}

@media screen and ( min-width: 1024px ) {

  #header {
  
    .inner {
      
      width: 940px; 
      
    }
  
  }

  #body {
    
    width: 960px;

    #content {
  
/*      padding: 50px 10px 50px 10px;*/
      width: 620px;
      float: left;
      position: relative;
  
    }

    #sidebar {
      clear: none;
      padding: 50px 10px 50px 50px;
      width: 220px;
      float: right;
      position: relative;
      border-left: 1px solid @lightGrey;
      background: transparent;
      
      > div {
        border-bottom: 1px solid @lightGrey;
        padding-bottom: 6px;
        margin-bottom: 30px;
        padding: 0;

        &:last-child {
          border-bottom: 0;
        }
        
      }
              
    }
  
  }
  
  #footer {
  
    .inner {
      width: 940px;
    }
  
  }

}
