
/* TEMPLATE CSS
=================================================*/

/* SQS GRID 
---------------------------------------------------

  - @sqsGridNegateGutter: because the spacing between 
    columns (the gutter) is split to either side of 
    columns, the outer most columns of a grid will 
    end up offset from the grid's parent container. 
    To negate this outer padding, @sqsGridNegateGutter 
    should be set to true.

  - @sqsGridGutter: the spacing in between columns, 
    set in pixel, em or percentages.

  -----------------------------------------------*/

@sqsGridNegateGutter: true;
@sqsGridGutter: 20px;

@proximaCondensed: "proxima-nova-condensed", Verdana, Arial, sans-serif;
@proxima: "proxima-nova", Verdana, Arial, sans-serif;
@tisa: "ff-tisa-web-pro", Georgia, serif;

@coral: #f08789;
@coralDark: #d9867c;
@black: #262222;
@grey: #696666;
@white: #ebebeb;
@lightGrey: #f0f0f0;


.sprites (@left: 0, @top: 0) {
  background: url(/assets/sprites.png) @left @top;
  text-indent: -9999px;
  display: inline-block;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5){
    background-image: url(/assets/sprites@2x.png);
    background-size: 500px 500px;
  }
  
}

/* MOBILE FIRST
-------------------------------------------------*/

body {
  color: @black;
	border-top: 10px solid @coral;
  font-family: @proxima;
  font-size: 16px;
  line-height: 1.5;
}

h1,h2 {
  font-family: @proxima;
}

.inner {
  max-width: 960px;
  padding: 0 10px;
  margin: auto;
  clear: both;
  position: relative;
}

#header {
  border-bottom: 1px solid @lightGrey;
  font-family: @proximaCondensed;  
  h1 {
    margin: 40px auto 20px auto;
    text-transform: uppercase;
    a {
      .sprites;
      width: 240px;
      height: 22px;      
      margin: auto;
      text-decoration: none;
      display: block;
    }
  }
  
}

#main-navigation {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  
  a {
    text-decoration: none;
  }
  
  .folder-child {
    display: none;
  }

  .folder-parent {
    &:hover .folder-child {
      display: inline-block;
    }
  }

  select {
    width: 240px;
    margin: -20px auto 20px auto;
    position: relative;
  }
  ul {  
    padding-left: 0;
    
    li {
      display: inline-block;
      letter-spacing: 1px;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &.active-link > a {
        color: @coral;
      }

      &.active-folder .folder-parent > a {
        color: orange;
      }
    }
  }
}

a {
  color: @black;
  &:hover {
    text-decoration: none;
  }
}

#body {
  
  clear: both;
  position: relative;
  padding: 0;
  margin: auto;
    
  #content {
    
    padding: 30px 20px;
    
    .sqs-layout {
      font-family: @tisa;
      font-size: 16px;
    }
    
    .sqs-block {
      padding-bottom: 0;
      &.image-block {
        padding-bottom: 26px;
      }
    }
    
    .sqs-block-content {
     
      text-align: justify;
     
      p, ol, ul, blockquote {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 26px;
      }
      
      a {
        color: @coral;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      
      
    }
    .video-block {
      margin-bottom: 26px;
    }
    
    article {

      border-bottom: 1px solid @lightGrey;
      padding-bottom: 70px;
      margin-bottom: 84px;
      
      &:last-child {
        border-bottom: 0
      }
    }
    
    h1, h1.title {
      font-size: 24px;
      line-height: 1.2;
      margin: 0 0 24px 0;
      text-transform: uppercase;
      font-weight: normal;      
      color: @coral;      
      a {
        text-decoration: none;
        color: @coral;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    h2 {
      font-size: 24px;

    }
    
    h3 {
      font-size: 20px;
      font-family: @tisa;
    }
    
    h4, h5 {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    h5 {
      
      font-weight: normal;
    }
    
    h1.title {
      margin-bottom: 4px;
    }
    .date {
      font-size: 16px;
      margin: 0 0 24px 0;
      text-transform: uppercase;
      color: @grey;
    }
    
    
    .blog-post-footer {
      margin-top: 10px;
      color: @grey;
    }
    
  }
  
  #sidebar {  
    
    font-family: @proxima;
    background: @lightGrey;
    padding: 20px;

    .siderbar-inner {
      > div {
        max-width: 460px;
        margin: auto;
      }        
    }

    h1,h2,h3 {
      font-family: @proximaCondensed;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      a {
        text-decoration: none;
        &:hover {
          opacity: .8;
        }
      }
      i, em {
        text-transform: none;
        font-size: 14px;
        line-height: 14px;
        color: @grey;
        margin: 0px 0 0 5px;
        display: inline-block;
        font-family: @tisa;
        vertical-align: top;
      }
      
    }
    .sqs-block-content p {
      color: @grey;
      font-size: 14px;
      line-height: 1.5;
    }
    
    #blockAbout a {
      display: block;
    }
    
    #blockElsewhere {
    
      ul {
        list-style-type: none;
        padding: 0;
        margin-left: 0;
        li {
          margin-bottom: 5px;
        }
        a {
          text-decoration: none;
          background: @coral;
          display: block;
          padding: 6px 10px;
          font-size: 14px;
          line-height: 14px;
        }
        a:hover {
          background: @coralDark;
        }
      }
      
    }
    
  }
  
}

#footer {
  float: left;
  width: 100%;
  clear: both;
  background: @black;
  color: @white;
  
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .inner {
    padding: 20px;
  }
  
  > div {

    ul {
      
      list-style-type: none;
      padding: 0;
      margin: 0;
      border-top: 1px solid rgba(255,255,255,.1);
      li {
        border-bottom: 1px solid rgba(255,255,255,.1);
        a {
/*          font-family: @proximaCondensed;*/
/*          text-transform: uppercase;*/
          font-size: 18px;
          display: block;
          padding: 10px 20px;
        }
      
      }
            
    }
    #footer-social,
    #footer-links { 
      display: none;
    }
    
  }
  
  a {
    color: @white;
  }
  
}


/* HOMEPAGE
-----------------------------------------------*/

.homepage { }


/* BLOG COLLECTION
-----------------------------------------------*/

.collection-type-blog {

  /* BOTH PAGES 
  ---------------------------------------------*/

  /* LIST PAGE
  ---------------------------------------------*/

  &.view-list { }

  /* ITEM PAGE
  ---------------------------------------------*/  

  &.view-item { }
  
}


/* BEYOND MOBILE
-----------------------------------------------*/
@media screen and ( min-width: 480px ) {

  #body {
    #sidebar {
      width: 100%; 
      clear: both;
      padding: 20px 0;
      .sidebar-inner {
        float: none;
        width: 100%;
        position: relative;
        margin: auto; 
        clear: both;
        > div {
          width: 100%;
          max-width: 324px;
          float: left;
          padding: 10px;
        }      
      }
    }
  }

}


@media screen and ( min-width: 768px ) {

  #header {
  
    float: left;
    width: 100%;
    
    .inner {
      width: 620px;
    }
  
    h1 {
      margin: 54px 0;
      width: 300px;
      float: left;
      clear: left;
      a {
        margin: 0;
      }
    }

    #main-navigation {

      float: left;
      width: 300px;
      clear: right;
      ul {
        display: block;
        margin: 54px 0;
      }
      select {
        
        display: none;
      }
      
    }
    
  
  }

  #body {
    
    #content {
    
      width: 620px;
      margin: auto;
      padding: 50px 10px;
      clear: both;
      
      .sqs-block-content {
        text-align: left;
        p, ol, ul, blockquote {
          font-size: 18px;
          line-height: 1.6;
          margin-bottom: 28px;
        }
      }
      
    }
      
    #sidebar {
      width: 100%; 
      clear: both;
      padding: 20px 0;
      .sidebar-inner {
        float: none;
        width: 720px;
        position: relative;
        margin: auto; 
        clear: both;
        > div {
          width: 220px;
          max-width: 100%;
          float: left;
          padding: 10px;
        }
      
        #blockInstagram, 
        #blockYouTube,
        #blockElsewhere {
          display: block;
        }
        
        #blockInstagram {
          .sqs-block {
            padding-bottom: 4px
          }
          .html-block {
            padding-bottom: 24px
          }
        }
        
        #blockAbout {
          clear: both;
          width: 100%;
          
          p {
            font-size: 18px;  
          }
          .image-block {
            width: 300px;
            float: left;
          }
          .html-block {
            float: left;
            width: 380px;
          }
        }
      
      }
    
    }
  
  }
  
  #footer {
  
    .inner {
      width: 700px;
      padding: 30px 10px; 
      margin: auto;
      font-size: 14px; 
      
      > div {
    
        width: 140px;
        margin-right: 20px;
        float: left;
        ul {
          border: 0;
          li {
            border: 0;
            a {
              font-size: 16px; 
              padding: 0;
            }
          }
        }
      }
    
      #back-to-top {
        position: absolute;
        top: 0;
        right: 0;
        a {
          text-decoration: none;
          span {
            .sprites(0, -25px);
            width: 8px;
            height: 8px;
            margin-left: 8px;
          }
        }
      }
      
      #copyright {
        clear: both;
        width: 100%;
        font-size: 14px;
        padding-top: 20px
      }
    
      #footer-links {
        display: block;
      }
      #footer-social {
        display: block;
        ul {
      
          li {
            border: 0;
            a {
              color: #fff;
              background: transparent;
            }
        
          }
      
        }    
      }
  
      
      
    }
  

  }

}

@media screen and ( min-width: 1024px ) {

  #header {
  
    .inner {
      
      width: 940px; 
      
    }
  
  }

  #body {
    
    width: 960px;

    #content {
  
/*      padding: 50px 10px 50px 10px;*/
      width: 620px;
      float: left;
      position: relative;
  
    }

    #sidebar {
      clear: none;
      padding: 50px 10px 50px 50px;
      width: 220px;
      float: right;
      position: relative;
      border-left: 1px solid @lightGrey;
      background: transparent;
      
      .sidebar-inner {
        width: auto; 
        > div {
          border-bottom: 1px solid @lightGrey;
          padding-bottom: 6px;
          margin-bottom: 24px;
          padding: 0;

          &:last-child {
            border-bottom: 0;
          }
          
          &#blockAbout {
            clear: both;
            width: 100%;
            p {
              font-size: 14px;
            }
            .image-block {
              width: 220px;
            }
            .html-block {
              float: none;
              width: auto;
            }
          }
          
        
        }
      
      }
      
              
    }
  
  }
  
  #footer {
  
    .inner {
      width: 940px;
    }
  
  }

}

.form-wrapper {
  
  /*input[type="submit"],
    input.button {
        text-decoration: none;
        color: @black;
        background: @coral;
        border: 0;
        display: block;
        padding: 6px 10px;
        font-size: 18px!important;
        line-height: 14px;
        
        -webkit-border-radius: 0;
        -o-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;          
        
        -webkit-box-shadow: 0;
        -o-box-shadow: 0;          
        -moz-box-shadow: 0;
        box-shadow: 0;   
        
        -webkit-text-shadow: 0;
        -o-text-shadow: 0;          
        -moz-text-shadow: 0;
        text-shadow: 0;                  
    
      &:hover {
        background: @coralDark;
      }
    
    }*/
  
   .field-list {
   
     .field {
        .field-element {
          -webkit-border-radius: 0;
          -o-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;          
          -webkit-box-shadow: 0;
          -o-box-shadow: 0;          
          -moz-box-shadow: 0;
          box-shadow: 0;                    
        }
     }
   }
  
}
